.plan {
    &__banner {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 1rem;
        &__title {
            padding: .25rem 1rem;
            background-color: #e6fa9b;
            color: #1f5b33;
            border: 1px solid #1f5b33;
            h1 {
            font-weight: 700;
            font-size: 16px;
            }
        }
        
    }
}